* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEDD5;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

/* Fonts */
h1, h2, h3, .price{
    font-family: 'Roboto serif', serif;
    text-transform: uppercase;
    color: #258863;
}

/* Heades */
header{
    padding: 32px 0;
    text-align: center;
}

header, section{
    max-width:300px;
    margin: 0 auto;
}

header h1 span{
    color: #995000;
}
header h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
}
header p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 16px;
}

/* Section em Geral */
section{
    margin-bottom: 24pxx;
}

section h2{
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
}

/* Lista */
ul li{
    margin-bottom: 16px;
    display: flex;
}

li .details {
    max-width: 240px;
}
.details h3{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
}
.details p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 21px;
}

